<h1>New Chat</h2>

<%= form_tag conversations_path, method: :post do %>
    <div>
    <h3>User: <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :display_name) %></h3>
    </div>
      <br>
    <div>
    <%= text_field_tag :subject, nil, placeholder: "Subject" %><br>
    </div>
      <br>
    <div>
    <%= text_area_tag :body, nil, placeholder: "Message" %><br>
    </div>
    <%= submit_tag "Send Message"%>
    <% end %>
