<div style="text-align:center;" class="container">
<h1 style="color:goldenrod; text-align:center">Start New Chat</h2>
<hr>
<%= form_tag conversations_path, method: :post do %>
    <div>
    <p style="font-size: large">Send message to: <%= select_tag :user_id, options_from_collection_for_select(@recipients, :id, :display_name) %></h3>
    </div>
    
    <div>
    <p style="font-size: medium">Subject: <%= text_field_tag :subject, nil, placeholder: "Subject" %></p><br>
    </div>
    <div>
    <p style="font-size: large">Message: <%= text_area_tag :body, nil, placeholder: "Message to send" %></h4><br>
    </div>
    <%= submit_tag "Send Message"%>
    <% end %>
</div>