
<% @conversation.receipts_for(current_user).each do |receipt| %>
    <div>
    <p>From: <%= receipt.message.sender.display_name %></p>
    <p>Subject: <%= receipt.message.subject %></p>
    <p>Message: <%= receipt.message.body %></p>
    </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
    <div>
    <%= text_area_tag :body %>
    </div>
    <%= submit_tag %>
<% end %>