<div class="container" style="text-align:center;">
<h1 style="color:goldenrod;">This Conversation</h1>
<%= link_to "My Chats", conversations_path, class: "btn btn-small btn-warning my-1 text-align:center", style: "color:dodgerblue" %>
<div>
<hr>
</div>
<% @conversation.receipts_for(current_user).each do |receipt| %>
    <div class="convo">
    <p style="font-size: xx-small">At: <%= receipt.message.created_at %></p>
    <p style="color:firebrick; font-size: small" class="font-italic"><%= receipt.message.sender.display_name %> said:</p>
    <p style="">Topic: <%= receipt.message.subject %></p>
    <p style="font-size: large"><%= receipt.message.body %></p>
    
    <hr>
    </div>
<% end %>

<%= form_tag conversation_messages_path(@conversation), method: :post do %>
    <div>
    <%= text_area_tag :body %>
    </div>
    <%= submit_tag "Send Message" %>
<% end %>
</div>
<br>
<br>
<br>