<div style="text-align:center;" class="container">
<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<hr>
     
  <div class="field">
    <%= form.label "Review: " %>
    <%= form.text_field :description, :maxlength => 45 %>
  </div>
  <hr>

  <div class="field">
    <%= form.label "Rating(1-5 stars): " %>
    <%= form.number_field :rating, max: 5, min: 0 %>
  </div>
<hr>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>