<p id="notice"><%= notice %></p>
<div class="container">
<h2>Newsfeed</h2>

<div>
<h3>Latest Reservations</h3>
<table class="table">

<thead>
<tr>
  <th>Time</th>
  <th>Num of guests</th>
  <th>User</th>
  <th>Restaurant</th>
  <th>Occasion</th>
  <th colspan="2"></th>
</tr>
</thead>

<tbody>
<% @reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.reservation_time.to_s %></td>
    <td><%= reservation.num_of_guests %></td>
    <td><%= reservation.user.email %></td>
    <td><%= reservation.restaurant.name %></td>
    <td><%= reservation.occasion %></td>
   
  </tr>
<% end %>
</tbody>
</table>

</div>

<div>
<h3>Latest Reviews</h3>
<div>
<table class="table">

<thead>
<tr>
  <th>User</th>
  <th>Restaurant</th>
  <th>Rating</th>
  <th colspan="2"></th>
</tr>
</thead>

<tbody>
<% @reviews.each do |review| %>
  <tr>
    <td><%= review.user.email %></td>
    <td><%= review.restaurant.name %></td>
    <td><%= review.rating %></td>
    <td><%= review.description %></td>
  </tr>
<% end %>
</tbody>
</table>
</div>
</div>
