<h1> All Users </h1>
<% @users.each do |user| %>
<label>Name:</label> <%= user.name %><br>
<label>Email:</label> <%= user.email %><br>
  <%= link_to 'See My Page', user %><br>
  <%= link_to 'Edit My Profile', edit_user_path(user) %><br>
  <%= link_to 'Delete My Profile', user, method: :delete, data: { confirm: 'Are you sure?' } %><br>

<% end %>

<br>

<%= link_to 'New User', new_user_path %>
