<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Logged in as:</strong>
  <%= @user.email %>
</p>

<%= link_to "Make A Reservation", new_reservation_path, class: "btn btn-small btn-primary my-1", style: "color:white" %>
<%= link_to "Reviews", reviews_path, class: "btn btn-small btn-primary my-1", style: "color:white" %>
<%= link_to "My Friends", follows_path, class: "btn btn-small btn-primary my-1", style: "color:white" %>
<%= link_to "My Newsfeed", feed_path, class: "btn btn-small btn-warning my-1", style: "color:black" %>

<h1>My Reservations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Time</th>
      <th>Num of guests</th>
      <th>Restaurant</th>
      <th>Occasion</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.reservation_time.to_s %></td>
        <td><%= reservation.num_of_guests %></td>
        <td><%= reservation.restaurant.name %></td>
        <td><%= reservation.occasion %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Delete', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
