<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Date</th>
      <th>Num of guests</th>
      <th>Restaurant</th>
      <th>User</th>
      <th>Occasion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.time %></td>
        <td><%= reservation.date %></td>
        <td><%= reservation.num_of_guests %></td>
        <td><%= reservation.restaurant_id %></td>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.occasion %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
