
<p id="notice"><%= notice %></p>
<div class="container">
<p>
  <strong>Time:</strong>
  <%= @reservation.reservation_time.to_s %>
</p>

<p>
  <strong>Num of guests:</strong>
  <%= @reservation.num_of_guests %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @reservation.restaurant_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Occasion:</strong>
  <%= @reservation.occasion %>
</p>
</div>
