<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @reservation.time %>
</p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Num of guests:</strong>
  <%= @reservation.num_of_guests %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @reservation.restaurant_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Occasion:</strong>
  <%= @reservation.occasion %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
