<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>

<p>
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @restaurant.rating %>
</p>

<%= link_to "Back", restaurants_path, class: "btn btn-small btn-primary my-1", style: "color:white" %><br>
<%= link_to "New Reservation", new_reservation_path, class: "btn btn-small btn-primary my-1", style: "color:white" %><br>
<%= link_to "Read Reviews", reviews_path(@restaurant), class: "btn btn-small btn-primary my-1", style: "color:white" %>
