<p id="notice"><%= notice %></p>
<div class="container" style="text-align:center">
<h1 style="color:goldenrod; text-align:center">More about <%= "#{@restaurant.name}" %></h1></br>
<%= link_to "New Reservation", new_reservation_path, class: "btn btn-small btn-primary my-1", style: "color:goldenrod; text-align:center" %>
<%= link_to "Read Reviews", review_path(@restaurant), class: "btn btn-small btn-primary my-1", style: "color:goldenrod" %></br>
</br>

<p style="text-align:center">
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>
<hr>

<p style="text-align:center">
  <strong>Cuisine:</strong>
  <%= @restaurant.cuisine %>
</p>
<hr>
<p style="text-align:center">
  <strong>Location:</strong>
  <%= @restaurant.location %>
</p>
<hr>
<p style="text-align:center">
  <strong>Rating:</strong>
  <%= @restaurant.average_rating %>
</p>
</div>