<%= form_with(model: follow, local: true) do |form| %>
  <% if follow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(follow.errors.count, "error") %> prohibited this follow from being saved:</h2>

      <ul>
        <% follow.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <h4> <%= form.label "People to follow: " %></h4>
   <h4> <%= form.collection_select :followee_id, User.all.filter { |user| user != @user }, :id, :email %></h4>
  </div>

  <div class="actions">
  <h4>  <%= form.submit "Follow"%></h4>
  </div>
<% end %>
