<p id="notice"><%= notice %></p>
<div class="container">
<h1>Follows</h1>


<%= link_to 'Find A Friend', new_follow_path, class: "btn btn-primary", role: "button", style: "margin-bottom: 10px" %>

<table class="table">
  <thead>
    <tr>
     
      <th>Followee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @follows.each do |follow| %>
      <tr>
        <td><%= follow.followee.email %></td>
        <td><%= link_to 'View Followee', follow %></td>
        <td><%= link_to 'Delete', follow, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>