<p id="notice"><%= notice %></p>
<div class="container">

<h2 style="text-align:center; color:goldenrod">Some info about your friend!</h2>
<br>
<div>
<h4 style="color:firebrick; text-align:center;"><%="#{@follow.followee.email}'s"%> Latest Reservations</h4>
<table class="table">

<thead>
<tr>
  <th>Time</th>
  <th>Num of guests</th>
  <th>Restaurant</th>
  <th>Occasion</th>

</tr>
</thead>

<tbody>
<% @follow.followee.latest_reservations.each do |reservation| %>
  <tr>
    <td><%= reservation.reservation_time.to_s %></td>
    <td><%= reservation.num_of_guests %></td>
    <td><%= reservation.restaurant.name %></td>
    <td><%= reservation.occasion %></td>
  </tr>
<% end %>
</tbody>
</table>

</div>

<div>
<h4 style="color:firebrick; text-align:center;"><%="#{@follow.followee.email}'s"%> Latest Reviews</h4>
<table class="table">

<thead>
<tr>
  <th>Review</th>
  <th>Restaurant</th>
  <th>Rating</th>
  
</tr>
</thead>

<tbody>
<% @follow.followee.latest_reviews.each do |review| %>
  <tr>
    <td><%= review.description %></td>
    <td><%= review.restaurant.name %></td>
    <td><%= review.rating %></td>
    
    </tr>
<% end %>
</tbody>
</table>
</div>
</div>
