<p id="notice"><%= notice %></p>
<div class="container">
<h1 style="color:goldenrod; text-align:center">Reviews</h1>
<div class="container" style="text-align:center">
<%= link_to 'Write A Review', new_review_path, class: "btn btn-primary", role: "button", style: "margin-bottom: 10px" %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Rating</th>
      <th>Restaurant</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_reviews.each do |review| %>
      <tr>
        <td><%= review.description %></td>
        <td><%= review.rating %></td>
        <td><%= review.restaurant.name %></td>
        <td><%= review.user.email %></td>
        <td><%= link_to 'Change Review', edit_review_path(review) %></td>
        <td><%= link_to 'Delete', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>