<!DOCTYPE html>
<html>
  <head>
    <title>Resmaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
  <link href="https://blackrockdigital.github.io/startbootstrap-heroic-features/css/heroic-features.css" rel="stylesheet">
  
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  
  </head>

<%= render partial: 'partials/navbar' %>

  <body>

    <%= yield %>
    
    <%= render partial: 'partials/footer' %>
    
  </body>
</html>
